@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');



:root{
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --cor-azulfraco: #00d2b6;
    --cor-azulforte: #073B4C;
    --bg-branco: rgb(255, 255, 255);
    --corpreto: #000000;
    --bs-gutter-x: 20rem;
    --h1-size: 3.8rem;
}


* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  font-family: var(--font-montserrat)

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: visible;

}

#whatsapp-button {
  position: fixed;
  bottom: 22px;
  right: 30px;
  color: #25D366;
  background-color: white;
  border: none;
  border-radius: 45%;
  padding: 13px;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@keyframes vibre {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(7deg); }
  100% { transform: rotate(-7deg); }
}

.vibrar {
  animation: vibre .1s ease-in-out infinite;

}

header {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 14vh;
  padding: 15px 100px;
  height: 20vh;
  box-sizing: border-box;
  z-index: 1;
  background-color: var(--bg-branco);
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.022);
}

header img {
  width: auto;
  height: 13vh;
}



nav,
.nav-links {
  display: flex;
}



nav {
  justify-content: space-evenly;
  align-items: center;
}

.nav-links {
  padding-left: 67px;
  gap: 3.5rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--cor-azulforte);
  text-decoration: none;
  text-decoration-color: var(--bg-branco);
}

a:hover {
  transition: .5s ease;
  color: var(--corpreto);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(91, 91, 91);
}

#local {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;
}

#local i {
  color: var(--cor-azulforte);
  font-size: 1.5rem;
}

#local p {
  font-weight: lighter;
}


main {
  padding-top: 18vh;
}


.container {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.rowcontainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

.columcontainer {
  width: 100%;

}


h1 {
  margin-bottom: 2rem;
  line-height: 3.8rem;
  font-weight: 700;
  font-size:2rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--cor-azulfraco);
}

#h1top {
  font-size: var(--h1-size);
    max-width: 33.25rem;
}

.descricaotop {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family:var(--font-roboto);
  font-size: 1.3rem;
  color: var(--cor-azulforte);
  font-weight: 400;
    max-width: 30.25rem;
}

button,
.bt {
  padding: 0 1.5rem 0 1.5rem;
  width: auto;
  height: 3.1875rem;
  border: 0.25rem solid var(--cor-azulforte);
  border-radius: 2.5rem;
  background: var(--cor-azulforte);
  position: relative;
  margin-top: 2.625rem;
  transition: all .5s ease-out 0s !important;
  max-width: 100%;
}

button.bt a {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1rem;
  color: var(--bg-branco);
  text-decoration: none;
  text-transform: uppercase;
}

.bt::hover {

  border: 0.25rem solid var(--cor-azulforte);
}

#fotoprincipal {
  height: 318px;
  width: auto;

}

section {
  display: block;
  width: 100%;
  max-width: 100%;
}

.sobrenos {
  padding-top: 2.5rem !important;
  margin-top: 2.5rem !important;
  background-color: var(--cor-azulfraco);
  height: 500px;
}

.titulo span{
    font-family: var(--font-roboto);
    font-size: calc(var(--h1-size) / 2.5);
    color:var(--corpreto);
    font-weight: 500;
}

.titulo h2{
  font-family: var(--font-montserrat);
  font-size: calc(var(--h1-size));
  color: var(--bg-branco);
  font-weight: 700;
}