@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    font-family: "Montserrat", sans-serif;

}

html {
    scroll-behavior: smooth;
  }

  #whatsapp-button {
    position: fixed;
    bottom: 38px;
    right: 41px;
    color: #25D366;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 25px;
    font-size: 3.5rem;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#whatsapp-button i {
    margin-right: 8px;
}


  header {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 14vh;
    padding: 15px  100px;
    height: 20vh;
    box-sizing: border-box;
    z-index:1;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.022);
  }
  
  header img{
    width: auto;
    height: 13vh;

    /* object-fit: cover; */
    /* object-position: center; */
  }
  


  nav,
  .nav-links {
    display: flex;
  }
  


  nav {
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav-links {
 padding-left: 200px;
    gap: 6rem;
    list-style: none;
    font-size: 1.5rem;
  }
  a {
    font-weight: 500;
    font-size: 2.2rem;
    color: #004773;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
  }
  
  a:hover {
    transition: .5s ease;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(91, 91, 91);
  }

 #local{
    display: flex;
    align-items: center;
    position: relative;
font-size: 1.5rem; 
}
 #local i {
    color: #002673;
    font-size: 2.5rem;
 }

#local p{
    font-weight: lighter;
}
 

main{
  padding-top: 18vh;
}


  .container {
    /* --bs-gutter-x: 1.5rem; */
    --bs-gutter-y: 0;
    width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5); */
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.rowcontainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.columcontainer{    
  max-width: 60.5rem;
    width: 100%;

}


h1{
  margin-bottom: 2rem;
  line-height: 6.6875rem;
  font-weight: 700;
    font-size: 5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(0, 208, 255);
}

#h1top{
  font-size: 7rem;
}

.descricaotop{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-family: 'Roboto',sans-serif;
    font-size: 2.5rem;
    color: #004256;
    font-weight: 400;
}

button, .bt{
  padding: 0 1.5rem 0 1.5rem;
  width: auto;
  height: 5.1875rem;
  border: 0.25rem solid #073b4c;
  border-radius: 2.5rem;
  background: #073b4c;
  position: relative;
  margin-top:2.625rem;
  transition: all .5s ease-out 0s!important;
  max-width: 100%;
}

button.bt a{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.bt::hover{

  border: 0.25rem solid #167291;
}

#fotoprincipal{
  height: 636px;
  width: auto;

}

section{
  display: block;
  width: 100%;
  max-width: 100%;
}

.sobrenos{
  padding-top: 9rem!important;
  margin-top: 9rem!important;
  background-color: #162f31;
  height: 500px;
}